{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="banner">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
            <div class="left-content">
                <div class="inside-content" style="text-align: center;">
                    <h4 style="text-align: center;">Student's Desk</h4>
                    <img src="{% static 'img/Student.png' %}" width="200" height="325" class="sawa" alt="Logo" style="padding-top: 30px; padding-bottom: 20px;">
                    <div style="padding-left: 30px;">
                        <div class="wrapperxx">
                            <a class="buttonxx" href="#">My Profile</a>
                            <a class="buttonxx" href="#">Add Timetable</a>
                            <a class="buttonxx" href="#">Add Subject</a>
                            <a class="buttonxx" href="#">Record</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
            <div class="left-content" style="background-color: rgb(230, 228, 228)">
                <div class="inside-content">
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}