{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="banner">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
            <div class="left-content">
                <div class="inside-content">
                    <br>
                    <h4 style="text-align: center;">Teacher's Registration</h4>
                    <br>
                    <img src="{% static 'img/Teacher.png' %}" width="275" height="350" class="sawa" alt="Logo" style="padding-top: 35px;">
                    <div style="float: right; padding-left: 35px;">
                            
                                <form action="{% url 'register' %}" method="POST">
                                    {% csrf_token %}
                                <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" name="first_name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" name="last_name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control" required>
                                </div>
                                <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="form-group">
                                <label for="password2">Password</label>
                                <input type="password" name="password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input type="password" name="password2" class="form-control" required>
                                </div>
                                <input type="hidden" name="teacher" class="form-control" value="True"> 
                                <input type="submit" value="Register" class="btn btn-secondary btn-block button-alt">
                            </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
            <div class="left-content" style="background-color: rgb(230, 228, 228)">
                <div class="inside-content">
                    <br>
                    <h4 style="color:  #517df0; text-align: center;">Student's Registration</h4>
                    <br>
                    <img src="{% static 'img/Student.png' %}" width="215" height="340" class="sawa" alt="Logo" style="padding-top: 35px;">
                    <div style="float: right; padding-left: 75px;">
                                <form action="{% url 'register' %}" method="POST">
                                    {% csrf_token %}
                                <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" name="first_name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" name="last_name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control" required>
                                </div>
                                <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="form-group">
                                <label for="password2">Password</label>
                                <input type="password" name="password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input type="password" name="password2" class="form-control" required>
                                </div>
                                <input type="hidden" name="teacher" class="form-control" value="False"> 
                                <input type="submit" value="Register" class="btn btn-secondary btn-block button">
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}